@{
    ViewData["Title"] = "Home Page";
}

<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="caption header-text">
                    <h6>Welcome to V&V</h6>
                    <h2>BEST GAMING SITE EVER!</h2>
                    <p>Meet the V&V GameHub. A new project to sell video games for every taste and color. Enjoy the extensive selection and enjoy.</p>
                    <div class="search-input">
                        <form action="@Url.Action("Search", "Shop")" method="get" class="d-flex">
                            <input type="text" name="query" placeholder="Search game…" class="form-control" />
                            <button type="submit" class="btn btn-primary ms-2">Search</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="right-image">
                    <img src="~/content/images/single-game.jpg" alt="">
                    <span class="price">$22</span>
                    <span class="offer">-40%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="@Url.Action("Wheel", "Home")">
                    <div class="item">
                        <div class="image">
                            <img src="~/content/images/featured-01.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>lut box</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="@Url.Action("UserProfile", "Auth")">
                    <div class="item">
                        <div class="image">
                            <img src="~/content/images/featured-02.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>User More</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="@Url.Action("Shop", "Home")">
                    <div class="item">
                        <div class="image">
                            <img src="~/content/images/featured-03.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>recent product</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/content/images/featured-04.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Newsletter</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section trending">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>Trending</h6>
                    <h2>Trending Games</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-button">
                    <a href="@Url.Action("Shop", "Home")">View All</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <a href="@Url.Action("Hearts_of_Iron_IV", "Product")"><img src="~/content/images/games/Hearts_Of_Iron_IV.jpg" alt="" class="trending__image"></a>
                        <span class="price"><em>$30</em>$10</span>
                    </div>
                    <div class="down-content">
                        <span class="category">Strategy</span>
                        <h4>Hearts of Iron 4</h4>
                        <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <a href="@Url.Action("Kingdom", "Product")"><img src="~/content/images/games/Kingdom.jpg" alt="" class="trending__image"></a>
                        <span class="price">$25</span>
                    </div>
                    <div class="down-content">
                        <span class="category">RPG</span>
                        <h4>Kingdom come deliverance 2</h4>
                        <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <a href="@Url.Action("Rust", "Product")"><img src="~/content/images/games/Rust.jpg" alt="" class="trending__image"></a>
                        <span class="price"><em>$20</em>$10</span>
                    </div>
                    <div class="down-content">
                        <span class="category">Shooters</span>
                        <h4>Rust</h4>
                        <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <a href="@Url.Action("Warhammer", "Product")"><img src="~/content/images/games/Warhammer.jpg" alt="" class="trending__image"></a>
                        <span class="price">$20</span>
                    </div>
                    <div class="down-content">
                        <span class="category">Action</span>
                        <h4>Warhammer 40,000: Space Marine 2</h4>
                        <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section most-played">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>TOP GAMES</h6>
                    <h2>Most Played</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-button">
                    <a href="@Url.Action("Shop", "Home")">View All</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="item">
                    <div class="thumb">
                        <a href="@Url.Action("Call_of_Duty", "Product")"><img src="~/content/images/single-game.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Shooters</span>
                        <h4>Call of Duty®: Modern Warfare® II</h4>
                        <a href="@Url.Action("Call_of_Duty", "Product")">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="item">
                    <div class="thumb">
                        <a href="@Url.Action("Oblivion", "Product")"><img src="~/content/images/games/Oblivion.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">RPG</span>
                        <h4>Oblivion</h4>
                        <a href="@Url.Action("Oblivion", "Product")">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="item">
                    <div class="thumb">
                        <a href="@Url.Action("Civilithation", "Product")"><img src="~/content/images/games/Civilization_VII_cover.png" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Strategy</span>
                        <h4>Civilithation</h4>
                        <a href="@Url.Action("Civilithation", "Product")">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="item">
                    <div class="thumb">
                        <a href="@Url.Action("Forza_Horizon_5", "Product")"><img src="~/content/images/games/Forza_Horizon_5.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Simulator</span>
                        <h4>Forza Horizon 5</h4>
                        <a href="@Url.Action("Forza_Horizon_5", "Product")">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="item">
                    <div class="thumb">
                        <a href="@Url.Action("NBA_K25", "Product")"><img src="~/content/images/games/NBA.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Simulator</span>
                        <h4>NBA 2K25</h4>
                        <a href="@Url.Action("NBA_K25", "Product")">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="item">
                    <div class="thumb">
                        <a href="@Url.Action("Schedule", "Product")"><img src="~/content/images/games/schedule.png" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Simulator</span>
                        <h4>Schedule</h4>
                        <a href="@Url.Action("Schedule", "Product")">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>Categories</h6>
                    <h2>Top Categories</h2>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Shooters</h4>
                    <div class="thumb">
                        <a href="@Url.Action("Shop", "Home")"><img src="~/content/images/csgo2.jpg" alt="" class="categories__image"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Action</h4>
                    <div class="thumb">
                        <a href="@Url.Action("Shop", "Home")"><img src="~/content/images/helldivers.png" alt="" class="categories__image"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>RPG</h4>
                    <div class="thumb">
                        <a href="@Url.Action("Shop", "Home")"><img src="~/content/images/categories-03.jpg" alt="" class="categories__image"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Strategy</h4>
                    <div class="thumb">
                        <a href="@Url.Action("Shop", "Home")"><img src=~/content/images/civilization.jpg alt="" class="categories__image"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Simulator</h4>
                    <div class="thumb">
                        <a href="@Url.Action("Shop", "Home")"><img src="~/content/images/assetto_corsa.jpg" alt="" class="categories__image"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="shop">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h6>Our Shop</h6>
                                <h2>Go Pre-Order Buy & Get Best <em>Prices</em> For You!</h2>
                            </div>
                            <p>Lorem ipsum dolor consectetur adipiscing, sed do eiusmod tempor incididunt.</p>
                            <div class="main-button">
                                <a href="@Url.Action("Shop", "Home")">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2 align-self-end">
                <div class="subscribe">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h6>NEWSLETTER</h6>
                                <h2>Get Up To $100 Off Just Buy <em>Subscribe</em> Newsletter!</h2>
                            </div>
                            <div class="search-input">
                                <form id="subscribe" action="#">
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email...">
                                    <button type="submit">Subscribe Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
